:root {
  scroll-behavior: smooth;
  --primary-font-family: 'Inconsolata', monospace;
}

.body {
  background-color: #20232a;
  color: #fff;
  font-family: var(--primary-font-family);
  margin: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}